[2015-05-29 21:15] zabawaba99 opened #7 "Support Different Query Parameters"
Based off #6 we should add functionality to allow querying data aside from just `ref.Value()`

Related Firebase Docs:
- https://www.firebase.com/docs/rest/api/#section-query-parameters

[2015-06-01 13:11] zabawaba99 opened #10 "Race Conditions with fb.Watch"
Running `go test -race .` you get something like

https://travis-ci.org/CloudCom/firego/jobs/64910115#L158

[2015-06-18 10:06] smartrevolution opened #15 "Watch does not work with large result sets"
Hi,

in your eventSplit() function your are not handling the case, if the scanner doesn't find a '\n' at the end. Which can happen, when the results sets are bigger. But fixing that does not work either, because with larger result sets you can even run into a case where the scan exceeds MaxScanTokenSize. One way  to fix it, is to use bufio#Reader.ReadLine(). Do you want to fix it yourself or would

[2015-06-18 10:57] zabawaba99 commented on #15
We are always open to Pull Requests! I would just ask that you add a test (if you haven't already) for it so we can make sure it doesn't break again.

[2015-06-18 20:49] smartrevolution commented on #15
Okay. Will create a Pull-Request on the weekend with a test. ;)

[2015-06-18 20:50] zabawaba99 commented on #15
Looking forward to it :dancers:

[2015-06-23 14:01] Tonkpils commented on #15
Going to close this since #16 was merged.

[2015-06-23 14:01] #15 closed, assigned to nobody

[2015-07-03 05:44] smartrevolution opened #17 "Watch(Event) should be be able to unmarshal to user-defined struct"
Hi,

I have a patch that makes it possible to Unmarshal the Data-field of an Event into a user-defined struct.

The problem with the current implementation is, that the Data-Field always returns map[string]interface{} and it can happen, that i.e. numbers are unmarshaled in a way you would not expect. For example unix timestamps are returned as float64. Using Decoder.UseNumber is not enough to fix

[2015-07-03 16:06] MrGossett commented on #17
We always welcome pull requests 😀. I'd be interested to see how the API changes with your patch.

[2015-07-03 16:30] smartrevolution commented on #17
Just one tiny little parameter... ;)

Tim Gossett notifications@github.com schrieb am Fr., 3. Juli 2015 18:06:

[2015-07-13 20:07] zabawaba99 opened #20 "Race Condition During Request Timeout"
The current [timeout logic](https://github.com/CloudCom/firego/blob/6a3bac81168e597d523ceafb4672c30369c0202e/firebase.go#L63) for commit 6a3bac81168e597d523ceafb4672c30369c0202e produces race conditions since [http.Transport](https://golang.org/src/net/http/transport.go#L49) spawns a go routine when [dialing a new connection](https://golang.org/src/net/http/transport.go#L519).

Few possible soluti

[2015-07-14 19:04] #10 closed, assigned to nobody

[2015-09-24 14:35] crystalin opened #26 "Support for different params per Reference"
At the moment, the params are shared for all the references to the Firebase object.
Ex:
refA = fb.Child("/first_node")
refB = fb.Child("/another_node")

refA.Shallow(true) will also set shallow param to refB

[2015-09-24 14:47] zabawaba99 commented on #26
Thanks for catching that! Confirmed the issue with

[code]

[2015-10-08 18:02] #26 closed, assigned to zabawaba99

[2015-12-16 17:09] zabawaba99 commented on #7
Closed by #34

[2015-12-16 17:09] #7 closed, assigned to zabawaba99

[2016-02-28 01:13] zabawaba99 commented on #20
Haven't seen this issue as of late. Has anyone else?

[2016-03-01 23:44] raulsntos commented on #17
I've started using this recently and it seems it's still not possible to unmarshal to a defined struct, I get a `map[string]interface{}` but the problem is that I'm getting a result like this `{ID: {key1: data1, key2: data2}}` so in order to access the data I need to know the ID, I could use `range` for that but I think I should be getting `{key1: data1, key2: data2}` directly. At least, I think t

[2016-03-02 01:06] zabawaba99 commented on #17
@raulsntos is it not possible to unmarshal to a struct of your choosing. I've been coming back to this issue every now and then but I'm not quiet sure how to approach this without breaking the API.

Regarding your issue in particular, can you provide some snippets of how you're using firego and the data that you're putting into firebase? I did some tests using curl and firego and they seem to be t

[2016-03-02 11:35] raulsntos commented on #17
Sure, this is what I'm doing:
**main.go**

[code]

**output**

[code]

**firebase dashboard**
![image](https://cloud.githubusercontent.com/assets/3903059/13459097/98d00562-e071-11e5-908e-d60588ba3a64.png)

Now if I run this javascript code:

[code]

I get this result:
![image](https://cloud.githubusercontent.com/assets/3903059/13459220/8e000ec4-e072-11e5-9623-4d6cda3af76f.png)
The difference is th

[2016-03-02 13:40] zabawaba99 commented on #17
Ah ok, I understand now. Unfortunately, I would say that that is the expected behavior of the `Watch` method. All is does it wrap the streaming API and give you the data you would get via SSE. A couple ways you might be able to work around this is
- Listen to the `/chat` node first before any messages our sent. That way when you get a message, the ID will be in the `Path` of the event
- Iterate bl

[2016-03-02 13:41] zabawaba99 opened #36 "Add Child Event Listeners"
Some snippets of what it looks like on different Firebase SDK

**Javascript**

[code]

**ios**

[code]

**android**

[code]

---

The go interface will use callbacks similarly to how the other firebase sdks.

Methods to be added:
- `ChildAdded`
- `ChildChanged`
- `ChildRemoved`
- `ChildMoved`

[2016-03-02 17:00] raulsntos commented on #17
That's what I thought, ok then. It would be really nice to have the same features the Javascript API has, it seems the Streaming API is more limited. Thanks.

[2016-03-06 23:57] zabawaba99 commented on #36
Some previous conversation was had on https://github.com/zabawaba99/firego/issues/17#issuecomment-191241529

[2016-03-10 05:21] zabawaba99 commented on #36
@raulsntos I started some work on this in a new branch called `event-funcs`. I've only added the `ChildAdded` events so far but if you'd like to give it a shot so far I'd love some feedback.

[2016-03-11 00:46] raulsntos commented on #36
I'm a bit busy at the time, but I'll see if I can give it a try next week

[2016-03-19 00:05] raulsntos commented on #36
I've tested it and so far it's great, what are you planning to do with DataSnapshot? Will you be adding val() and key() like in [Javascript](https://www.firebase.com/docs/web/api/datasnapshot/)? I think it would be nice to have those functions there, since right now you only get the JSON and without the ID you can't modify or delete the received data (at least I can't think of a way to do that, wi

[2016-03-28 16:11] zabawaba99 commented on #36
Glad to hear that it's work as expected @raulsntos !. I did want to expand the DataSnapshot a bit more. I think adding the `Value` and `Key` as fields would be a good addition as well as perhaps adding in some functions to navigate through child fields

[2016-04-01 15:02] keuller opened #37 "Filtering using OrderBy does not working"
Hi guys,

I'm trying to filter some data using the strategy "by a specified child key" as Firebase documentation shows. But its not working for me. Here is my code:

[code]

When I try to view the URL which Firego tries to connect (through .String() method) I just see that: **https://[domain].firebaseio.com/courses** instead of **https://[domain].firebaseio.com/courses.json?orderBy="author"** as s

[2016-04-01 15:26] zabawaba99 commented on #37
Hi @keuller I see what the issue is. It looks like when we copy the firebase reference we are not copying over the parameters that we use. It also seems a little weird that we are copying the reference for every query.

[2016-04-01 15:27] zabawaba99 commented on #37
I won't be able to get to this until later tonight or tomorrow morning, but I can review a PR in the meantime if you'd like to fix it.

[2016-04-01 16:22] keuller commented on #37
Actually @zabawaba99 the error is different, although Firego does not show the correct URL, it is making a correct call. But I think Firego does not encoding correct the URL, because I'm getting this error.

[code]

But I suggest improve the .String() method to show off the parameters defined.

[2016-04-01 17:08] keuller commented on #37
Hi @zabawaba99 I've solved the problem. In fact, the orderBy must be inside double quotes. I'll make a PR to Firego. I also changed the String() method to improve the visibility the URL with their respective parameters.
I've seen in your tests that you pass an argument using double quote to OrderBy method. But it is repetitve and very ugly, you can improve the OrderBy method to put those double qu

[2016-04-07 21:43] #37 closed, assigned to nobody

[2016-04-19 22:11] zabawaba99 commented on #20
Closing issue since it hasn't come up again and doesn't seem to show up.

[2016-04-19 22:11] #20 closed, assigned to nobody

[2016-04-30 17:54] zabawaba99 opened #43 "Support different authentication types"
Types of authentication:
- password
- oauth
- anonymous
- custom (already supported)

Firebase doc references:
- https://www.firebase.com/docs/security/guide/user-security.html#section-variable
- https://www.firebase.com/docs/rest/guide/user-auth.html

[2016-06-13 11:53] harshadptl opened #46 "Redirection support for POST, PUT requests"
#45

[2016-06-22 13:55] theprojectabot opened #47 "EqualTo ? request"
Was wondering if there was a reason EqualTo wasn't included in query.go?
I can implement in my fork and make a PR

[2016-06-24 13:43] zabawaba99 commented on #47
There was no reason in particular. PRs would be more than welcome!

[2016-06-26 01:00] zabawaba99 commented on #47
Closed via cherry-pick of #48

fabd36a74f95577efa76658b0a16c425e069a977
5ba1484e6e48714306a0761fd3053741e394d58c

[2016-06-26 01:00] #47 closed, assigned to nobody

[2016-06-30 02:24] mattetti opened #49 "support for storage"
this is a feature request

[2016-06-30 12:20] zabawaba99 commented on #49
Are you referring to https://firebase.google.com/docs/storage ?

[2016-07-01 15:46] mattetti commented on #49
@zabawaba99 yes exactly. Main main use case is to push binary data such as images.

[2016-09-01 07:54] elvis-hp opened #52 "how to check Token expire?"
I want auto gen token but i don't know how to check Token expire?
thanks

[2016-09-02 14:27] zabawaba99 commented on #52
There is currently no builtin way to check if a token has expired. Would you mind giving me a sample snippet of how you would see something like this working? From my understanding it would look something like

[code]

[2016-09-02 14:28] zabawaba99 commented on #46
Closing since #45 was also closed

[2016-09-02 14:28] #46 closed, assigned to nobody

[2016-09-04 14:45] elvis-hp commented on #52
Yes.
However, it is running on real time, where do we can check?
For example: token will expire around 1 hour, but my system run 24/24, so, 2nd time onwards, the system will not work? the code above can solve this? thank you.

[2016-09-05 05:01] elvis-hp commented on #52
[code]

[2016-09-06 18:27] zabawaba99 commented on #52
I understand what you're looking for. The auth token being revoked is actually being ignored right now ([chunk of code](https://github.com/zabawaba99/firego/blob/master/watch.go#L177)). We can make it so that an event is returned with a `firego.EventAuthRevoked` event type and have it close the connection since it is no longer valid.

[2016-09-07 02:56] jlgale opened #53 "Race condition in StopWatching()"
It looks like it's not safe to have multiple callers to the `StopWatching()` method. Two back-to-back callers could both see `true` from `isWatching()` and then the second call would block forever on the `stopWatching` channel.

It would be fine if that was a rule: "don't call StopWatching() multiple times", but the go-routine started by `Watch()` actually calls `StopWatching()`, so the only way t

[2016-09-07 10:44] zabawaba99 commented on #53
Thanks for creating the issue! Would you mind posting a code snippet to reproduce this issue to help visualize it a bit?

[2016-09-08 18:06] duyhtq opened #54 "autoreconnect"
it looks like firego doesn't auto-reconnect AFTER the device lost internet for a long period and then got internet back again (say, after 30 mins).  how do you get around this so that firego client automatically reconnects after the device goes online again?  thanks.

[2016-09-16 22:15] duyhtq opened #55 "runtime/cgo: pthread_create failed: Resource temporarily unavailable"
i keep running into this error in production.  it doesn't happen right away.  it only happens after running for about 10 hours.  i've been trying to debug it for a week without any success.  does anyone have this issue before?  any advice is much appreciated.

note: i'm running it on 32 bit arm board (raspberry pi or nvidia tegra k1).  i'm running the same code on my laptop / desktop and haven't s

[2016-09-16 22:26] zabawaba99 commented on #55
After you using the `os/exec` package in your code?

[2016-09-16 22:27] duyhtq commented on #55
nope, not at all.

[2016-09-16 22:32] duyhtq commented on #55
this is what happened right before the crash, when i printed out the event type in watch.go.

2016/09/16 12:24:35 watch.go:189: Event Type: keep-alive
2016/09/16 12:24:35 watch.go:208: Watch Event: keep-alive
2016/09/16 12:25:05 watch.go:189: Event Type: keep-alive
2016/09/16 12:25:05 watch.go:208: Watch Event: keep-alive
2016/09/16 12:25:35 watch.go:189: Event Type: keep-alive
2016/09/16 12:25:35

[2016-09-16 22:36] duyhtq commented on #54
here is the line in **watch.go** that got stuck forever if internet connection is lost.  is there a way to set timeout for scanner.ReadLine() or somehow throw an error if the internet connection no longer exists?

`evt, isPrefix, scanErr = scanner.ReadLine()
`

[2016-09-16 22:55] duyhtq commented on #55
@zabawaba99 my apology.  i just looked again and there is another piece of code (independent of my firego code) that runs in the background in its own goroutine and calls os.exec every once in a while for some repetitive / monitoring services.  what is the conflict between os.exec and firego?  and how do you recommend to avoid this?  thanks.

[2016-09-16 23:47] zabawaba99 commented on #55
@duyhtq I did some searching around and ran into [this comment](https://groups.google.com/forum/#!topic/golang-nuts/8gszDBRZh_4) where someone was having a similar issues.

The `net` (used by firego) and `os/exec` package both use cgo. You should be able to compile your app with the `netgo` tag to remove cgo from the http package. That _might_ solve your problem. Another [comment](https://groups.g

[2016-09-16 23:53] zabawaba99 commented on #54
I'm not too sure. I imagine would could make it so that it blows up after a certain amount of time.

---

If the internet comes back, does the function continue to process?

[2016-09-16 23:57] zabawaba99 commented on #43
https://github.com/golang/oauth2/issues/198

[2016-09-19 01:38] duyhtq commented on #55
hey @zabawaba99 i rebuilt my code with "-tags netgo" but the same error still occurred after a few hours running.  it looks like netgo doesn't have any effect on this bug.  do you have any other thought on what the problem could be?  the only long running goroutine/thread i have is the Watch(notifications) function listening for changes from firebase.

note:  for the same code, i don't have any is

[2016-09-19 01:57] zabawaba99 commented on #55
@duyhtq I'm not too sure what may be going on. We could have a bit more of a back and forth over the gophers slack ([invite link](https://invite.slack.golangbridge.org/) if you're not a part of it) to see if we can debug the issue together

You can find me under `zabawaba`

[2016-09-20 18:22] jondot commented on #49
@mattetti I had a specific requirement for this. While reverse-engineering the Firebase API, I got to this solution https://github.com/jondot/firebase-simple-storage

[2016-09-25 01:23] #36 closed, assigned to nobody

[2016-10-04 00:48] varung opened #56 "how do I authenticate with firebase v3?"
In the old firebase v2, I was able to generate a token, and auth with that. Is it possible to use the service json file that Google gives you with this library?

[2016-10-04 03:17] zabawaba99 commented on #56
Currently, you can not use the service json file to authenticate with `firego`. However, you can still using a legacy token to authenticate with firebase.

<img width="1184" alt="screen shot 2016-10-03 at 11 03 24 pm" src="https://cloud.githubusercontent.com/assets/2306786/19061418/883f3104-89be-11e6-8f6e-9cb8b44ca01e.png">

I do plan on adding support for the service json file (hopefully this wee

[2016-10-04 21:14] duyhtq commented on #54
@zabawaba99 no... if the internet comes back up, it does nothing... its stuck at that line.

[2016-10-05 22:39] ryanwalls opened #58 "Feature request: Documentation for how to check if key exists, or implement the feature"
I can't seem to figure out a clean way to check if a key already exists.  Calling `.Value()` on a reference returns a json error.  I assume I'm just missing something, so perhaps we can add that to the README?

[2016-10-06 02:29] zabawaba99 commented on #58
I think it would be a good idea to add some functionality to check for existence. Getting a weird json error from `.Value()` seems unexpected.

---

Looking at the [android sdk](https://firebase.google.com/docs/reference/android/com/google/firebase/database/DataSnapshot.html#exists%28%29)  (as well as the javascript one) it looks like there is an `exists()` method on a `DataSnapshot`. The first th

[2016-10-06 13:57] #52 closed, assigned to nobody

[2016-10-06 14:00] zabawaba99 commented on #52
@hoangphuong now that #57 is merged you should be able to do

[code]

[2016-10-06 16:34] toffentoffen commented on #58
I am working on the solutions. Implementing Exists method, and documenting and example.

[2016-10-07 15:44] IvRRimum opened #61 "Push notifications?"
Does `firego` support making a push notifications?

[2016-10-10 11:12] zabawaba99 commented on #61
There is no support for sending push notifications. Unfortunately, there's no documented way of sending notifications since it's all currently done through the Firebase console. However, I would be wiling to discuss possible implementations if someone manages to get it to work.

[2016-10-10 11:48] IvRRimum commented on #61
I will get back at you in a few weeks/month. I will have this kind of assignment.

[2016-10-13 08:50] rostopira commented on #61
There is documented way to sending push notifications, but it's not part of REST API, so it should be a different library. Here it is https://github.com/edganiukov/fcm

[2016-10-19 11:22] rostopira opened #62 "OrderByValue"
I have a large list of id:token data. I need to get id that corresponds to particular token. `.OrderBy("$value").EqualTo(token).Value(&value)` gives me nothing

[2016-10-22 22:06] zabawaba99 commented on #62
Does this test represent what you're trying to do:

[code]

I ran this code and got:

[code]

[2016-10-23 22:51] #17 closed, assigned to nobody

[2016-11-07 17:12] jgeiger commented on #53
I don't have a code snippet, but I was running into this. It's a silent failure so it's hard to track down.

I had a single watcher per account, but I called StopWatching twice and it would hang randomly, but more frequently under load.

One call was a direct call "account.StopWatching" and the other was deferred "defer account.StopWatching"

Removing the explicit call seems to have fixed the issu

[2016-11-09 16:17] #62 closed, assigned to nobody

[2016-11-09 16:26] zabawaba99 commented on #62
Was your issue resolved?

[2016-11-09 16:27] rostopira commented on #54
When fix will be merged to master?

[2016-11-09 16:28] rostopira commented on #62
@zabawaba99  not sure, I just don't need it anymore. Actually, I believe, it was my mistake

[2016-11-09 16:29] zabawaba99 commented on #54
Sorry for the delay, I haven't had too much time the past month. I will continue to work on this issue throughout the week.

[2016-11-09 16:31] zabawaba99 commented on #62
Alrighty, thanks for opening up an issue and please let me know if you come across anything else!

[2016-11-11 04:55] cynerellc opened #64 "Parameter Escape to Boolean values"
Please update func escapeString under guery.go to support bool values

[code]

[2016-11-12 15:57] #54 closed, assigned to nobody

[2016-11-12 18:01] zabawaba99 commented on #64
fixed in 7c8d46a1fca7ae5cebcb2cf98fd10966dae20dab

[2016-11-12 18:01] #64 closed, assigned to nobody

[2016-11-12 18:09] zabawaba99 commented on #53
This _should_ have been fixed with the closing of #60 since it reworked the way the locks are used. I'm going to close the issue for now. If you see the issue happening again, please comment here or open up a PR.

[2016-11-12 18:09] #53 closed, assigned to nobody

[2016-11-16 23:37] jlgale commented on #53
Thanks!

[2016-11-21 14:28] zabawaba99 commented on #58
@morfeo8marc Any word on the progress of implementing the `Exists` method?

[2016-11-21 14:49] toffentoffen commented on #58
@zabawaba99 It's implemented, but I am struggling with the test case. The mocked server is not marshalling and unmarshalling correctly an empty response.

Empty response is what firebase is returning, instead of not found.

[2016-11-21 16:00] zabawaba99 commented on #58
If you'd like, you can make a pull request and I can help with writing the test case.

[2016-12-06 23:50] jlgale opened #66 "StopWatching() -> panic: send on closed channel"
Seen on 7c8d46a1fca7ae5cebcb2cf98fd10966dae20dab after calling `Firebase.StopWatching()`

[code]

[2016-12-06 23:52] jlgale commented on #66
I didn't follow the code too closely, but I wonder why this channel is being closed at all? https://github.com/zabawaba99/firego/blob/master/watch.go#L105

[2016-12-07 00:34] zabawaba99 commented on #66
@jgeiger Thanks for reporting the issue. You raise a great point about not having to close the channel since no one is listening for the close. Let me see if I can reproduce the panic through a test and I'll push a quick fix

[2016-12-07 00:56] zabawaba99 commented on #66
I was able to reproduce it in a test so we don't come across this issue again. Will be pushing a fix shortly

[2016-12-07 01:14] #66 closed, assigned to zabawaba99

[2016-12-07 20:21] jlgale commented on #66
Thanks for the quick fix. One thing though:
[code]
I wonder if you should be allocating the `stop` channel like this: `make(chan struct{}, 1)`. If you leave the channel unbuffered, the `stop <- struct{}{}`  operation can block forever, leaking a goroutine.

[2016-12-10 17:26] zabawaba99 commented on #66
Hrmm, that's a good point. I'm going to play around with this a little bit to see if there are some leaking go routines. However, at first glance it looks like it should be ok since by [the time the unexported watch function exits](https://github.com/zabawaba99/firego/blob/master/watch.go#L89) there is a [routine waiting on the `stop` channel](https://github.com/zabawaba99/firego/blob/master/watch

[2016-12-19 05:41] tqwewe commented on #58
Came here to request this feature too. Javascript has the .hasChild method. Would be good to see something similar in this Golang package.

[2016-12-19 05:51] tqwewe opened #68 "Change Firebase reference without re-authing?"
I don't think this feature exists as of yet, but it would be handy if there was a simple function to change the location of the firebase reference so I do not need to re-authenticate each time I change my reference.

[2016-12-19 12:30] zabawaba99 commented on #61
I'm working on a `v2` of `firego` that has an `fcm` package. You can checkout the `v2-unstable` package and use it if you'd like. Please note though that this branch is still under active development and that the API is not guaranteed to stay as is. I will close this issue as soon as the official v2 branch is created.

[2016-12-19 12:34] IvRRimum commented on #61
I just wrote it myself( its just 1 http request ).

[2016-12-19 12:34] #61 closed, assigned to nobody

[2016-12-21 09:39] fallais opened #71 "Prevent loop to crash when EventTypeError"
Hello,

What is the best way to prevent the loop to make the program crash when receiving an EventTypeError message please ?

[code]

I my ParseEvent, if an EventTypeError  happen, I just display a message, but the program crashes anyway.

Regards.

[2016-12-23 20:04] zabawaba99 commented on #71
The reason the the loop exits is because the `.Watch` function closes the channel if there is an error. If you want to have a single loop that handles the error case you could probably do something like

[code]

Please note though, that the code above is not very resilient since it will fail if you receive an error twice. However, you should be able to use a similar pattern to prevent the program

[2016-12-25 10:58] fallais commented on #71
Hello,

Thanks a lot for the complete answer !

Actually, I handle the `firego.EventTypeError` in the helpers function ParseEvent, by only displaying a Logrus log message. I hardly think how I could recreate the notification channel in it..
If I well understand, the key point is that the notification channel must not die, so maybe I could make my ParseEvent return an `error` and if error is not ni

[2016-12-25 15:38] zabawaba99 commented on #71
@fallais That sounds like a perfectly good way of handling as well. You could also probably test that logic using a `httptest.Server` and closing the connection when you get a notification.

[2016-12-30 16:55] tjmcwiz opened #72 "Timing out on Watch notifications"
Is there an easy way to trace the firego package? I had the program working but recently starting hitting this error condition.

New to golang and using the nest api so the issue is probably mine but was looking to better isolate and understand the issue - 30 seconds should be long enough but it's very possible that some of my libraries did change on an update of my system as well.

[2017-01-09 20:01] jakubdal opened #73 "Numeric string escapes to int in query"
Because type of *Firebase.EqualTo (and other querying functions) argument is string, request asking for value `"1234"` is the same as the request asking for `1234` - they are both numeric. However firebase treats them differently, and so it's impossible to make query for numeric string (for example `"1234"`).

[2017-01-09 21:55] zabawaba99 commented on #73
There is a [PR](https://github.com/zabawaba99/firego/pull/65) that addresses this issue. I just pinged the author to see if they can wrap up the missing items so that it can merged in. If it's not done by the end of the week, I'll work off that PR to get it merged in.

[2017-01-09 22:56] wolfgangmeyers commented on #56
Any progress on this? I don't even see the legacy token generator anymore in the firebase console.

[2017-01-09 22:59] rockwotj commented on #56
Service Accounts tab has the secrets now, but moving to service accounts is important

[2017-01-12 22:03] vzsg commented on #73
I created a new PR #74 that starts from the current master, and adds the new functions next to the previous ones, instead of changing their behavior. Please review and merge if you find it worthy.

[2017-01-13 23:41] zabawaba99 commented on #73
Resolved by #74 which is now merged

[2017-01-13 23:41] #73 closed, assigned to nobody

[2017-01-13 23:44] zabawaba99 commented on #72
Could you elaborate a little bit more on what is happening? I know that @jgeiger had to make some changes to this library to make it work with the `nestapi` and had forked those changes to https://github.com/jgeiger/nestapi

[2017-01-13 23:45] zabawaba99 commented on #71
@fallais did that answer your question?

[2017-01-14 01:55] jgeiger commented on #72
Nest's API servers are pretty unstable at times. I don't remember doing anything that deals with a watch in the nestapi code, but my app (which uses my nestapi) checks for timeouts and then re-connects on the failures.

[2017-01-15 17:25] zabawaba99 commented on #68
Closed by #69

[2017-01-15 17:25] #68 closed, assigned to nobody

[2017-01-16 09:41] consulthys opened #75 "Firebase.String() function produces weird URL"
The [`Firebase.String()` function](https://github.com/zabawaba99/firego/blob/master/firebase.go#L183-L190) produces an URL of the form `https://xyz.firebaseio.com/abc/.json`.

Even though it works, it should probably be better if this URL would look like `https://xyz.firebaseio.com/abc.json` instead.

Thoughts?

[2017-01-16 10:01] fallais commented on #71
@zabawaba99 yes thanks a lot ! :)

[2017-01-17 10:32] tqwewe commented on #75
Is what you were expecting the exact same url, just without the / before the .json at the end of the string?

[2017-01-17 10:33] consulthys commented on #75
Yes, exactly, as depicted in my comment above.

[2017-01-17 13:06] tqwewe commented on #75
I'm not sure if it is nessisary to change the function to remove the `/` from the url before `.json`.
In your program you could use something like the following code to replace the `/.json` to `.json` only if it is at the end of the url.
[code]
The reason why I replace it to `.json?` (with the ?) and trim it is to make sure it only replaces the `/.json` if it is at the end of the url or before any

[2017-01-17 13:11] consulthys commented on #75
Replacing on the client-side is not really an issue, I'm not really concerned with that. My initial comment was more in the sense that this `String()` function should produce a nice URL. I'm just not sure why it would ever make sense to have a `/` preceding the `.json` extension. Why do we have a `/` there to begin with?

[2017-01-17 13:14] tqwewe commented on #75
Ah, I didn't see that it was hard coded in the [Firebase.String() function](https://github.com/zabawaba99/firego/blob/master/firebase.go#L183-L190). It's not a big deal and doesn't have any affect on the result other than it producing a nicer looking url. I agree it is useless to append "/.json" rather than ".json" to the url.
Maybe make a pull request with this change.

[2017-01-17 14:57] zabawaba99 commented on #75
@consulthys the `/` was being appended to the URL to account for the case where there is no path provided :

[code]

Which would then produce `https://hello.firebaseio.com/.json` when calling `String`. Given that appending `/.json` versus `.json` results in the same firebase reference, I didn't see the need to have special logic to add a trailing slash or strip it.

If you would like to make a PR

[2017-01-17 15:16] consulthys commented on #75
@zabawaba99 thanks for shedding some light on this. I perfectly understand. Time allowing, I might submit a PR soon. Stay tuned...

[2017-01-18 08:17] fallais commented on #71
Hello,

In fact, I am not sure of why you need to close the channel in case of error..
Could you explain please ?

[2017-01-24 09:18] fallais commented on #71
Hello,

Did you see my last message please ? :)

[2017-01-24 12:28] zabawaba99 commented on #71
Hey @fallais , sorry about not getting back to you earlier. The reason I see that we need to close the channel is to prevent writing to a closed channel. We could do something along the lines of

[code]

in the `watch` function but then we don't know whether the consumer closed the channel or is just processing the previous message.

[2017-01-28 13:16] jakubdal opened #78 "Add Auth Error Callback"
"Unsupported type EOF(&errors.errorString{s:"EOF"})If you see this log please report an issue on https://github.com/zabawaba99/firego"

However because the message lacks in any informations about where is the problem, I cannot provide more data at least for now.

[2017-01-28 14:25] zabawaba99 commented on #78
So this message is logged from one of the `ChildEventFunc`s. Could you give me a little bit more detail on which of the `ChildX` functions you are using? Do you see this log often?

[2017-01-28 14:26] zabawaba99 commented on #72
Is there anything else that I can help with @tjmcwiz ?

[2017-01-28 14:28] zabawaba99 commented on #55
@duyhtq you still facing this issue?

[2017-01-28 14:32] zabawaba99 commented on #56
@wolfgangmeyers I have not been able to make any progress on this just yet. I had it slated for the next few weeks. However, I'm thinking that I will put that work into v2 of firego which (I'm hoping) will have a much more Firebase feel to it.

Thanks for pointing that out @rockwotj

[2017-01-28 17:41] jakubdal commented on #78
`ChildChanged`, seems like I get this error every time I run `ChildChanged` function. Function call looks as follow:

`err = msgClient.ChildChanged(func(data firego.DataSnapshot, previousChildKey string) {
		fmt.Printf("\n\nChild changed: %+#v, previousChildKey: %v\n\n", data, previousChildKey)
	})`

Where msgClient is `msgClient, err := c.firebase.Ref("messages/-KaSC-rJFCP-fuO9j_iz/")`, which is

[2017-01-28 17:49] jakubdal commented on #78
Turns out this is how firego reacts when you pass invalid authentication token for authentication. Shall I close the issue?

[2017-02-05 19:09] zabawaba99 commented on #58
Closed by #77

[2017-02-05 19:09] #58 closed, assigned to nobody

[2017-02-05 19:16] zabawaba99 commented on #78
Thanks for digging into this @jakubdal. I'd like to reuse this issue to implement an auth error callback

[2017-02-06 12:14] tqwewe opened #81 "Firebase Transaction Function Request"
Firebase has a function **`transaction(transactionUpdate, onComplete, applyLocally)`** which you can view **[here](https://firebase.google.com/docs/reference/js/firebase.database.Reference#transaction)**.

The function's purpose is explained **[here](https://firebase.google.com/docs/database/web/read-and-write#save_data_as_transactions)**:

This is extremely useful and would be a great feature to

[2017-02-06 13:20] zabawaba99 commented on #81
I think having a transaction would be a great idea. However, it looks like there is no exposed way of doing this through their rest API. I'm not too sure that we would be able to do this unless we inject data into someone's database. If we did add data to someone's database then we could implement transactions but they would only work when another firego client accesses data.

[2017-02-06 13:41] tqwewe commented on #81
It's a shame. Maybe I'll look into it to see if it's possible without injecting data like that.
Something like looking at the source code of the javascript transaction() function could help.

[2017-02-11 00:06] zabawaba99 commented on #81
That would be awesome @Acidic9 , let me know what you find!

[2017-02-13 22:16] m00sey commented on #56
What sort of help do you need?

This is how we use a Service Account (V3) to create a client to work with the admin sdk, with the current firego library.

Using:
`
"golang.org/x/oauth2"
"golang.org/x/oauth2/google"
`

[code]

We are currently developing new functionality using firego, more than happy to help out.

[2017-02-20 19:51] jasonbcox opened #82 "Errors always return as EOF"
Whenever there is an error of any kind (including auth errors, similar to issue #78), I get the following event and then the watch channel closes:
firego.Event{Type:"event_error", Path:"", Data:(*errors.errorString)(0xc82000a160), rawData:[]uint8(nil)}

Printing out event.Data gives:
&errors.errorString{s:"EOF"}

This same EOF error occurs for 'permission denied' as well as missing indexOn errors.

[2017-02-21 01:16] zabawaba99 commented on #56
Hey @m00sey sorry for not getting back to you earlier just wrapped up a cross country move. The solution you posted looks great and I'm going to add it to the readme for `firego.v1`.

I was looking for some help integrating this into [firego.v2](https://github.com/zabawaba99/firego/tree/v2-unstable) (currently under development) where a user would pass the path of their service_account.json file a

[2017-02-21 01:18] zabawaba99 commented on #71
Anything else on this issue @fallais ?

[2017-02-21 01:21] zabawaba99 commented on #72
I'm going to close this issue for now @tjmcwiz since there nothing that can be done at the moment. If anything comes up, please feel free to reopen the issue.

[2017-02-21 01:21] #72 closed, assigned to nobody

[2017-02-21 01:37] zabawaba99 commented on #82
Are these errors coming only from the `Event` channel from `.Watch`?

[2017-03-08 18:05] jasonbcox commented on #82
Yes, this is the only Event received from the .Watch() channel before it closes.

[2017-03-16 21:45] lucanaldini opened #83 "OrderBy example returns a Go map which does not preserve order"
The example in the README.md for the orderBy attribute deserialises the result into a map.
If the user needs to display the results in ascending order, he cannot rely on the map, since the ordering of the items retrieved when looping through it is not preserved.

[2017-04-06 17:09] jasonbcox commented on #56
@m00sey Your solution works great.  Thanks!

[2017-04-07 15:33] xStrom commented on #83
The official REST API documentation claims that [The REST API Returns Unsorted Results](https://firebase.google.com/docs/database/rest/retrieve-data). Thus I don't think we're actually losing any ordering information by using a map.

[2017-04-07 16:24] lucanaldini commented on #83
You're perfectly right. It does say that. I guess i was just surprised by the fact you ask the API to sort the data and then you have to sort it again by yourself.
Wonder why an array was not used to return the results, which would have preserved the ordering.
Oh well. Closing this since it's invalid. Thanks

[2017-04-07 16:24] #83 closed, assigned to nobody

[2017-07-30 06:41] rockwotj commented on #81
The Realtime Database just added support for conditional requests (AKA transactions) via the REST API. Instead of trying to re-create the wire protocol for golang, I think it's better to use the REST API.

See the docs here: https://firebase.google.com/docs/reference/rest/database/#section-conditional-requests

/cc @caseycrogers

[2017-08-01 02:42] zabawaba99 commented on #81
Good catch @rockwotj. How would we make something like this work? What sort of API makes sense for this library? Looking at the [firebase-admin-java](https://github.com/firebase/firebase-admin-java) as a reference, it seems like they're using the internal snapshot of the data to perform the transaction before sending it off to the server. We could do something similar with:

[code]

Not too sure a

[2017-08-01 05:03] rockwotj commented on #81
Are you planning on doing retries similar to the SDKs? They currently implement sudo-code like this:

[code]

This is essentially a [compare and swap operation](https://golang.org/pkg/sync/atomic/#CompareAndSwapUint64), and the SDKs do this transparently. I think firego can do the same, but I don't think we can assume a map, and we need to give access to the current value and allow them to return

[2017-08-01 05:37] zabawaba99 commented on #81
I don't see any harm in performing retries and keeping with the same criteria that the official SDKs do. Also, I completely overlooked the return of the transaction handler - good catch. Proposal looks solid. Going to see if I give this a whirl in the next couple of days (unless someone beats me to it and opens up a PR before me).

Thanks for the feedback!

[2017-08-02 05:16] zabawaba99 commented on #81
I created #86 with an initial implementation of transactions. Going to write some tests to ensure everything works as expected before merging.

[2017-08-25 14:43] erwanlbp opened #87 "Specify that Value() return a map on the lists"
In the README, please say that `Firebase.Value()` returns a `map[string]interface{}` when it is used to query lists, I spent quite some time figuring that (Newbie speaking)

[2017-08-26 23:54] #81 closed, assigned to nobody

[2017-08-27 00:06] zabawaba99 commented on #87
I don't mind adding a snippet in the README to describe this behavior. It's a Firebase specific thing though.

For example,

[code]

Prints out

[code]

---

IIRC, if you end up deleting for than X amount of values inside the array, then it's returned as a map

[2017-09-25 15:24] natdm opened #88 "Maps with sequential keys rendered as array"
If my value I want to store in Firebase is like below:

[code]
Everything turns out fine. This is equal to a `map[int]map[int]value`, and it gets and sets the values just fine.

The moment I have sequential numbers:

[code]

Firebase stores it as a sequential array with the keys being the index values, hence the first three nulls (index 0-2, before 3):
[code]

[2017-09-25 16:03] natdm commented on #88
Correct me if I'm wrong, but this seems to be more Go related than firego related since all that's used is unmarshal:
https://github.com/zabawaba99/firego/blob/15b273f44f74f9e11157c7feebdd41bae5d1d91d/watch.go#L44-L51

[2017-09-26 06:33] zabawaba99 commented on #88
Hey @natdm , thanks for opening up an issue. This behavior is actually a Firebase behavior. Take a look at these curl commands.

First we fetch the reference and see that it comes back as a map
[code]

Now we go ahead and add a `4` in the map
[code]

We fetch the reference again, and see how it comes back as an array.
[code]

[2017-09-28 16:44] natdm commented on #88
Closing this since it's not a firego issue.

[2017-09-28 16:44] #88 closed, assigned to nobody

[2017-09-28 16:45] zabawaba99 commented on #88
Sorry for the confusion but thanks again for opening the issue!

[2017-10-09 15:47] arturscheiner opened #89 "StartAtValue or EndAtValue with string starting with "+" plus symbol"
Figured out that these methods StartAtValue and EndAtValue, returns a empty map[] if the string starts with the plus signal "+". Discovered this because my app does a simple query just to check if an existing data exists like cellphones (with international codes starting with "+").

[code]

Calling it:

	p := fbdb.DataExist("phone", "+5561999999999")
	log.Println("Phone Exist? ", p)

       return

[2017-10-10 05:36] zabawaba99 commented on #89
Hey @arturhs, thanks for opening up the issue. I went ahead and isolated the code that creates the query string on [this](https://play.golang.org/p/PxOP7clHa0) Go Playground. It's odd that another special character works since they all get escaped when encoding it.

Can you verify that the data stored in Firebase has the leading `+`?

[2017-10-11 13:55] arturscheiner commented on #89
Hi @zabawaba99, in Firebase the data stored is a string like this "+5561999999999", right now i'm changing my app not to write the "+" sign. It is, indeed, a strange behavior. I was playing around with other chars. These are my findings:

if string starts with "+" returns -> false
if string starts with "-=@$^*()_" returns -> true
if string starts with "&" doesn't run -> "error" : "Constraint index

[2017-11-13 12:10] DzyubSpirit opened #90 "ChildAdded doesn't work with a big amount of children"
if a node has 700-1000 children or more there are no calls to add child handler function. However, if a number of children are 100-300 handler is called a number of children times.
Children are light-weight objects with 5-6 simple type fields. In a rare number of times, I've got calls but not as many as the number of children.
I think it isn't a problem of firebase because with nodejs sdk it works

[2017-11-16 07:43] DzyubSpirit commented on #90
Sorry, it was because of my mistake ^)

[2017-11-16 07:43] #90 closed, assigned to nobody

[2017-11-17 03:43] zabawaba99 commented on #90
Hey @DzyubSpirit , sorry that I didn't get back to your earlier - been a little busy. Would love to know a bit more about what happened. Anyway we could make the documentation a bit clearer?

[2017-11-17 07:45] DzyubSpirit commented on #90
@zabawaba99, My problem was about using ```for {}``` instead of ```select {}``` after ```fb.ChildAdded()```. So main goroutine was too busy for handling big amount of events :)
Sorry, it's about my unfamiliarity with goroutines, documentation is great  :+1:

[2018-01-19 15:08] AddzMDev opened #91 "error "Unauthorized request." when change to new private key"
Just don't know what happen I've use firego for firebase realtime database and everything work fine in development but on production, I've generate new service key and replace that key with the same file that I've use in development. Then to authenticate there are no problem but I've got  "error" : "Unauthorized request."  when try to read data from realtime databsae

any idea ?

[2018-01-20 15:02] AddzMDev commented on #91
There was my mistake I've solved this error.

[2018-01-20 15:02] #91 closed, assigned to nobody

[2018-02-13 01:25] gabriel opened #92 "Firebase.Ref(pagth): concurrent map iteration and map write"
I think I called Ref very fast in succession?

[code]

[2018-02-19 18:19] dkoshkin commented on #91
@AddzMDev what was the issue Im running into the same issue?

[2018-02-21 02:57] AddzMDev commented on #91
In my case I just put wrong configuration.
For production and development environment I've use different database then to switch to the production environment I need to switch both the URL of database and service key.

[2018-02-21 02:59] zabawaba99 commented on #92
Hey @gabriel , let me see if I can take a look at this in the next couple of days

[2018-02-21 03:01] zabawaba99 commented on #91
@dkoshkin, when you get a chance, can you post back with whether or not @AddzMDev configuration suggestion helped?

[2018-02-21 03:34] AddzMDev commented on #91
There are nothing special. To explain that with my code here
[code]
My former mistake was I had change <b>kyePath </b> variable in main function to production key but  <b>url</b> variable still point to development database then  <b>Unauthorized request.</b> error occur

[2018-02-23 01:29] ckeyes88 opened #93 "Error when using `go dep`"
I'm using [dep](https://github.com/golang/dep) for dependency management and when I run `dep ensure` or `dep ensure -add gopkg.in/zabawaba99/firego.v1` it gives the following error

[code]

I apologize if this is an issue with dep but I after quite a bit of digging I haven't been able to find out why this would be happening with just this package. Might be low priority but it sure is frustrating.

[2018-02-23 03:10] zabawaba99 commented on #93
What version of dep are you using? I tried this out and couldn't reproduce it.

main.go
[code]

[code]

[2018-02-23 03:47] ckeyes88 commented on #93
ugh I don't know why I didn't check that before. Apparently, my command line was using the `dep` in $GOPATH and not the one I was keeping updated using homebrew. Thanks haha.

[2018-02-23 03:47] #93 closed, assigned to nobody

[2018-02-23 03:50] zabawaba99 commented on #93
Glad I could help. Happy coding!

[2018-06-16 18:47] #92 closed, assigned to nobody

[2018-06-16 18:48] zabawaba99 commented on #92
Hey @gabriel , sorry it took so long to address this. There should be a fix for this in the v1 branch now. Please let me know if you still see this behavior.

[2018-10-25 16:17] rockwotj commented on #89
This is an issue with the realtime database's handling of URL Decoding and is a *very* old bug.

There is a workaround, this will work if you add a header of `X-Firebase-Decoding: 1` to the request. At some point in the future we'll fix this correctly without needing the header.

[2018-10-26 10:04] belek commented on #56
I am not sure and need help, can I use @m00sey snippet to sign in with custom token?
https://firebase.google.com/docs/auth/admin/create-custom-tokens#sign_in_using_custom_tokens_on_clients

[2018-10-29 17:12] zabawaba99 commented on #89
context for anyone else following along https://github.com/firebase/firebase-admin-go/pull/186

@rockwotj - Would adding `X-Firebase-Decoding: 1` to every request be ok or would we need to add it only to requests that have these query params?

[2018-10-29 20:59] rockwotj commented on #89
You should just add it all the time

[2018-12-02 15:08] rafaelvicio opened #96 "firego with Mux"
Any examples of using firego with Mux API?

[2019-01-09 00:52] Confuset commented on #55
iam receiving this same error message:
`runtime/cgo: pthread_create failed: Resource temporarily unavailable`
i realized that the temp on my raspberrypi3 is pretty high ~80°
so this could be a reason as well…have you checked that?
`/opt/vc/bin/vcgencmd measure_temp`

[2019-03-03 04:12] rockwotj commented on #89
This should be fixed now and you don't need to specify the header.

[2019-03-31 00:06] zabawaba99 commented on #43
Closing issue as repository is being archived.

[2019-03-31 00:06] #43 closed, assigned to nobody

[2019-03-31 00:06] zabawaba99 commented on #49
Closing issue as repository is being archived.

[2019-03-31 00:06] #49 closed, assigned to nobody

[2019-03-31 00:06] zabawaba99 commented on #55
Closing issue as repository is being archived.

[2019-03-31 00:06] #55 closed, assigned to nobody

[2019-03-31 00:07] zabawaba99 commented on #56
Closing issue as repository is being archived.

[2019-03-31 00:07] #56 closed, assigned to nobody

[2019-03-31 00:07] zabawaba99 commented on #71
Closing issue as repository is being archived.

[2019-03-31 00:07] #71 closed, assigned to nobody

[2019-03-31 00:07] zabawaba99 commented on #75
Closing issue as repository is being archived.

[2019-03-31 00:07] #75 closed, assigned to nobody

[2019-03-31 00:07] zabawaba99 commented on #78
Closing issue as repository is being archived.

[2019-03-31 00:07] #78 closed, assigned to nobody

[2019-03-31 00:07] zabawaba99 commented on #82
Closing issue as repository is being archived.

[2019-03-31 00:07] #82 closed, assigned to nobody

[2019-03-31 00:07] zabawaba99 commented on #87
Closing issue as repository is being archived.

[2019-03-31 00:07] #87 closed, assigned to nobody

[2019-03-31 00:07] zabawaba99 commented on #89
Closing issue as repository is being archived.

[2019-03-31 00:07] #89 closed, assigned to nobody

[2019-03-31 00:07] zabawaba99 commented on #96
Closing issue as repository is being archived.

[2019-03-31 00:07] #96 closed, assigned to nobody